<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Regexper{{#if file.frontMatter.title}} - {{file.frontMatter.title}}{{/if}}</title>

    <meta name="description" content="Regular expression visualizer using railroad diagrams" />
    <meta name="viewport" content="width=device-width" />
    <meta name="theme-color" content="#bada55" />

    {{> "google_analytics"}}

    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="author" href="humans.txt" />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Bangers&text=Regxpr" />
    <link rel="stylesheet" href="/css/main.css" />
    <!-- Built: {{date}} -->
    <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?3881a2eb63d815d20870092f75648f38";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
      })();
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140787039-7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-140787039-7');
    </script>
  </head>
  <body>
    <header>
      <div class="logo">
        <h1><a href="/">Regex</a></h1>
        <!-- n. One who regexpes -->
        <span>可视化正则表达式...</span>
      </div>

      <nav>
        <ul>
          <li>
            <a class="inline-icon" href="/changelog.html" target="_blank" >{{icon "#list-rich"}}版本</a>
          </li>
          <li>
            <a class="inline-icon" href="/documentation.html" target="_blank" >{{icon "#document"}}文档</a>
          </li>
          <li>
            <a class="inline-icon" href="https://gitee.com/snowdreams1006/regexper-static" target="_blank" >{{icon "#code"}}源码</a>
          </li>
        </ul>
      </nav>
    </header>

    <main id="content">
      {{#block "body"}}{{/block}}
    </main>

    <footer>
      {{#block "footer"}}
        <ul class="inline-list">
          <li>本项目<a href="mailto:snowdreams1006@163.com" target="_blank" >snowdreams1006</a>基于<a href="https://regexper.com/" target="_blank" >regexper</a>项目进行二次开发</li>
          <li>
              <a href="http://www.beian.miit.gov.cn/" target="blank">
                  浙ICP备18042346号
              </a>
            </li>
          <li>
            版权声明
            <a rel="license" href="http://creativecommons.org/licenses/by/3.0/" target="_blank" ><img alt="Creative Commons License" src="https://licensebuttons.net/l/by/3.0/80x15.png" /></a>
          </li>
        </ul>

        <script type="text/html" id="svg-container-base">
          {{> "svg_template"}}
        </script>

        {{> "sentry"}}
      {{/block}}
    </footer>

    {{> "open_iconic"}}
  </body>
</html>
